#i {
    height: 412px;
    width: 412px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 4px;

}

body {
    text-align: center;
    background-color: darkorange;
}

#o {
    height: 412px;
    width: 412px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 4px;
}

#p {
    height: 412px;
    width: 412px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 4px;
}

#he {
    height: 412px;
    width: 412px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 4px;
}
